@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/code';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/card';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/toasts';
@import '~bootstrap/scss/utilities';

@import "~bootstrap-vue/src/variables";
@import "~bootstrap-vue/src/utilities";
@import "~bootstrap-vue/src/components/card/index";
@import "~bootstrap-vue/src/components/form-input/index";
@import "~bootstrap-vue/src/components/input-group/index";
@import "~bootstrap-vue/src/components/nav/index";
@import "~bootstrap-vue/src/components/toast/index";

#menu {
    height: 100vh;
    position: sticky;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

#container {
    margin: 12px 0;
}

.card-function {
    margin-bottom: 12px;
}

.card-function:last-child() {
    margin-bottom: 0;
}

pre {
    font-family: 'ubuntu mono', monaco, 'lucida sans typewriter', monospace;
    margin: 0 24px 24px 0;
    padding: 16px;
    color: #000;
    background-color: #fff;
    border: 1px solid #eee;
    overflow: auto;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.ll-nam { /* words */
    color: #000000;
}

.ll-num { /* numbers */
    color: $green;
    font-weight: bold;
}

.ll-str { /* strings */
    color: $green;
    font-weight: bold;
}

.ll-rex { /* regular expressions */
    color: $indigo;
}

.ll-pct { /* operators, punctation */
    color: $blue;
}

.ll-key { /* keywords */
    color: darken($green, 20%);
    font-weight: bold;
}

.ll-com { /* comments */
    color: $gray-600;
    font-style:italic;
}

.class_header {
    color: #000;
    background-color: #EDF3FE;
}

.tr-underline {
    border-bottom: 1px solid #dee2e6;
}

.tr-underline:last-child {
    border-bottom: 0;
}

.class_method:last-child {
}

.details td, .details th {
    border-top: 0;
}

.details_header {
    font-size: large;
    font-weight: bolder;
    padding-bottom: 6px;
    border-bottom: 1px solid #dee2e6;
}

.details_block_header {
    font-size: large;
    font-weight: bolder;
}

.details_signature {
    background-color: #eee;
    font-size: larger;
}

.hide {
    display: none;
}

ul {
    list-style-type: none;
}

a {
    color: $indigo;
}

.bg-logic {
    color: #ffffff;
    background-color: #0B5E6A;
}
